// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.date-created {
  font-size: 11px;
  font-style: italic;
}

.author_name {
  font-size: 12px;
  font-style: oblique;
}

.card-body {
  font-size: 15px;
}